 <div class="container-fluid page7_bg">
		<div class="row-fluid">
			<div class="span12 visible-phone">
				<img src="assets/hosp_bird_mob.png" class="person_top_mob teach_bird_mob"/>
				<img src="assets/hosp_bird_glow_mob.png" class="person_top_glow_mob teach_bird_mob_glow" />
			</div>
			<div class="span12 cloud_teach teacher_speech_bubble2 speech_bubble_bird_mob" >
				<div class="teach_con">Hey Bobo! It’s	me,	your friend Cheeko.</div>
			</div>
			<div class="span12 cloud_teach teacher_speech_bubble speech_bubble_mob"  >
				<div class="teach_con"></div>
			</div>
		</div>

		<div class="row-fluid persons">
			<div class="span5 hidden-phone">
				<img src="assets/bobo_teacher.png" class="bobo_teacher"/>
				<img src="assets/bobo_teacher_glow.png" class="bobo_teacher_glow" />
			</div>
			<div class="span4 hidden-phone">
				<img src="assets/bird_teacher.png" class="bird_teacher"/>
				<img src="assets/bird_teacher_glow.png" class="bird_teacher_glow" />
			</div>
			<div class="span2 hidden-phone">
        		<a href='/8' class="next_q corner_btn teach_nxt_btn">
		          <h5>NEXT</h5>
		        </a>
		    </div>
		</div>

		<div class="row-fluid">
			<div class="span12 visible-phone">
				<img src="assets/teacher_bobo_mob.png" class="person_bot_mob teach_bobo_mob" />
				<img src="assets/teacher_bobo_glow_mob.png" class="person_bot_glow_mob teach_bobo_mob_glow" />
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12 visible-phone">
				<a href='/8' class="next_q teach_nxt_btn_mob btn_mob">
					<h5>NEXT</h5>
				</a>
			</div>
		</div>
</div>