  <div class="container-fluid page4_doc_bg">
    <div class="row-fluid">
      <div class="span12 visible-phone">
        <img src="assets/hosp_bird_mob.png" class="person_top_mob" style="display:none;"/>
        <img src="assets/hosp_bird_glow_mob.png" class="person_top_glow_mob" />
      </div>
      <div class="span12 cloud_hosp speech_bubble bubble_hosp_bobo hidden-phone">
        <div class="hosp_con"></div>
      </div>
      <div class="span12 cloud_hosp speech_bubble_bird bubble_hosp_bird hidden-phone">
        <div class="hosp_con"></div>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span12 speech_bubble_mob visible-phone">
        <div class="first">Do you want to become the best doctor in the world?</div>
      </div>
      <div class="span5 hidden-phone">
        <img src="assets/bobo_doctor_sitting_glow.png" class="bobo_doc_sitting_glow" style="display:none;"/>
        <img src="assets/bobo_doctor_sitting.png" class="bobo_doc_sitting" />
      </div>
      <div class="span4 hidden-phone">
        <img src="assets/bird_hospital_glow.png" class="hosp_bird_glow" style="display:none;"/>
        <img src="assets/bird_hospital.png" class="hosp_bird" />
      </div>
      <div class="span2 hidden-phone hosp_next_btn">
        <a href='#'>
          <img src="assets/next_button.png" class="hosp_next" />
        </a>
        <a href='/5'>
          <img src="assets/next_button.png" class="hosp_next_6"/>
        </a>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span12 visible-phone">
        <img src="assets/doctor_mob.png" class="person_bot_mob" />
        <img src="assets/doctor_glow_mob.png" class="person_bot_glow_mob" style="display:none;" />
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12 visible-phone">
        <a href='/5'>
          <img src="assets/next_button_mob.png" class="next_btn_mob" />
        </a>
      </div>
    </div>
  </div>