  <div class="container-fluid" id="ss-classroom_bg">
    <div class="row-fluid">
      <div class="span5 offset3 score">
        <h3>Score:</h3>
        <p>You answered <%= @result.answers.sum(:points) %> of the 3 questions right.</p>
      </div> 
    </div>
    <div class="row-fluid">
      <div class="span3 offset9 button ss-button">
        <a href="/page3"><img src="../assets/next_button.png" alt="Next" width="104" height="41"></a>
      </div>
    </div>
  </div>