
  <div class="container-fluid" id="classroom_bg">
    <div class="row-fluid">
      <div class="span12 box_bg">
        <div class="row-fluid">
          <div class="span9">
            <h2 class="title">BOBO IS TEACHING THE CLASS ABOUT HIV/AIDS</h2>
          </div>
          <div class="span3 level_bg">
            <h2 class="level">DREAM 1</h2>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span6">
            <h3 class="storyleft">...BOBO IS TEACHING THE CLASS ABOUT THE DANGERS OF HIV/AIDS. THE STUDENTS ARE REALLY INTERESTED AND WANT TO KNOW HOW TO PREVENT THIS DISEASE. TO TEST WHAT ALL THE KIDS LEARNED HE WANTS TO DO A QUIZ WITH HIS STUDENTS.</h3>
          </div>
          <div class="span6">
            <p><img src="assets/bobo-teaching3.png" alt="Teacher Bobo" width="290" height="255"></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3 button">
        <a href="/page3"><img src="assets/back_button.png" alt="Back" width="104" height="41"></a>
      </div>
      <div class="span3 offset6 button">
        <a href="/page5"><img src="assets/next_button.png" alt="Next" width="104" height="41"></a>
      </div>
    </div>
  </div>
