
 <div class="container-fluid" id="titlescreen_bg">
	  <div class="row-fluid">
      <div class="span12" id="topmenu">
        <div class="span6 offset3 button">
          <img src="../assets/logo.png" alt="Logo" width="261" height="128">
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span6 offset3 button">
        <a href="#"><img src="../assets/facebook_button.png" alt="Facebook" width="272" height="54"></a>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span6 offset3 button">
        <a href="#"><img src="../assets/howtoplay_button.png" alt="How to play" width="272" height="54"></a>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span6 offset3 button">
        <a href="#"><img src="../assets/settings_button.png" alt="Settings" width="272" height="54"></a>
      </div>
    </div>
    <div class="row-fluid">  
      <div class="span6 offset3 button">
        <a href="page1"><img src="../assets/startyourjourney_button.png" alt="Start your journey" width="272" height="54"></a>
      </div>
    </div>
  </div>