 <div class="container-fluid" id="titlescreen_bg">
      <div class="row-fluid">
          <div class="span12 button">
              <img src="assets/logo.png" class="logo" alt="Logo" width="293" height="127">
          </div>
      </div>

      <div class="row-fluid">
          <div class="span12 button">
              <a href="/1" class="basic-btn">Start your Journey</a>
          </div>
      </div>

      <div class="row-fluid">
          <div class="span12 button">
            <a href="#" class="basic-btn">How to play</a>
          </div>
        </div>
      <div class="row-fluid">  
          <div class="span12 button">
            <a href="#" class="basic-btn">Settings</a>
          </div>
      </div>
</div>