<% if @result.answers.sum(:points).to_f / @result.answers.count.to_f >= 0.60 %>
	<p><% session[:dream1] = true %> True</p>
<% else %>
	<p>You will need to do the Quiz again.</p>
<% end %>

<%= debug @result.answers.count.to_f %> 

<%= debug @result.answers.sum(:points).to_f + 2 %>

<%= debug @result.answers.sum(:points).to_f + 2 / @result.answers.count.to_f >= 0.60 %>

    <div class="row-fluid">
      <div class="span3 offset9 button ss-button">
        <a href="/3"><img src="../assets/next_button.png" alt="Next" width="104" height="41"></a>
      </div>
    </div>
  </div>