<body>
  <div class="container-fluid" id="chooseadream_bg">
    <div class="row-fluid">
      <div id="tchr_thumb" class="span4 dream">
        <a href="/page4">Dream 1</a>
      </div>
      <div id="dctr_thumb" class="span4 dream">
        <a href="#">Dream 2</a>
      </div>
      <div id="xplr_thumb" class="span4 dream">
        <a href="#">Dream 3</a>
      </div>
    </div>
    <div class="row-fluid">
      <div id="prnt_thumb" class="span4 dream">
        <a href="#">Dream 4</a>
      </div>
      <div id="" class="span4 dream">
        <a href="#">Dream 5</a>
      </div>
      <div id="" class="span4 dream">
        <a href="#">Dream 6</a>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3 backbutton">
        <a href="/page2"><img src="assets/back_button.png" alt="Back" width="104" height="41"></a>
      </div>
    </div>
  </div>
</body>

</html>