  <div class="container-fluid page1_bg">
    <div class="row-fluid">
      <div class="span12">
        <img src="assets/logo.png" class="logo" />
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <a href='/1'><img src="assets/button_start.png" class="start_btn"/></a>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <img src="assets/bobo_circle.png" class="bobo_c" />
      </div>
    </div>
  </div>
