  <div class="container-fluid" id="story_bg">
    <div class="row-fluid">
      <div class="span12 box_bg">
        <div class="row-fluid">
          <div class="span9">
            <h2 class="title">BOBO IS DREAMING</h2>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span6">
            <h3 class="storyleft">At dinner Bobo's mother tells Bobo a sad story. His cousin was diagnosed with HIV. Bobo doesn't really know what HIV is but he knows that it is really bad.</h3>
          </div>
          <div class="span6 dialog">
            <p><img src="assets/mother_story.png" alt="Bobo's Mother" width="207" height="230"></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3 button">
        <a href="/"><img src="assets/back_button.png" alt="Back" width="104" height="41"></a>
      </div>
      <div class="span3 offset6 button">
        <a href="/page2"><img src="assets/next_button.png" alt="Next" width="104" height="41"></a>
      </div>
    </div>
  </div>

