<div class="container-fluid jungle_bg">


		<div class="row-fluid">
      	</div>

		<div class="row-fluid">
			<div class="span12  visible-phone">
				<img src="assets/jungle_good_answer_mob.png" class="result_bobo_bad_mob"/>
			</div>
			<div class="span12  hidden-phone">
				<img src="assets/jungle_good_answer_mob.png" class="result_bobo_bad"/>
			</div>
		</div>

		<div class="row-fluid">
			<div class="span12  visible-phone">
				<div class="result_bubble_mob">
					<p class="top"> Congratulations! </p>
					<p class="bottom">You have finished the game! </p>
				</div>
			</div>

			<div class="span12  hidden-phone">
				<div class="result_bubble_desktop">
					<p class="top"> Congratulations! </p>
					<p class="bottom">You have finished the game! </p>
				</div>
			</div>
		</div>

	<div class="row-fluid">
		<div class="span12 next_q btn_mob">
			<a href="/THEEND"><h5>Finish the Game!</h5></a>
		</div>
	</div>


	</div>