<div class="container-fluid jungle_bg_mosquito">
		<div class="row-fluid">
			<div class="span12 visible-phone">
				<img src="assets/monkey_mob.png" class="person_top_mob monkey_monkey_con"/>
				<img src="assets/monkey_glow_mob.png" class="person_top_glow_mob monkey_monkey_con_glow" />
			</div>
			<div class="span12 speech_bubble_mob cloud_mos_jungle jungle_speech_bubble3 " >
				<div class="mos_jungle_con">Hey Mosquito! I am Bobo.</div>
			</div>
			<div class="span12 speech_bubble_mom_mob cloud_mos_jungle jungle_speech_bubble4">
				<div class="mos_jungle_con"></div>
			</div>
		</div>

		<div class="row-fluid persons">
			<div class="span4 hidden-phone">
				<img src="assets/jungle_bobo.png" class="bobo_mos_jungle"/>
				<img src="assets/jungle_bobo_glow.png" class="bobo_mos_jungle_glow" />
			</div>
			<div class="span3 hidden-phone">
				<img src="assets/mosquito.png" class="jungle_mosquito"/>
				<img src="assets/mosquito_glow.png" class="jungle_mosquito_glow" />
			</div>
			<div class="span2 hidden-phone">
        <a href='/14' class="jungle_next_btn2 next_q corner_btn next_btn">
          <h5>NEXT</h5>
        </a>
      </div>
   	</div>

		<div class="row-fluid">
			<div class="span12 visible-phone">
				<img src="assets/intro_bobo_mob.png" class="person_bot_mob" />
				<img src="assets/intro_bobo_glow_mob.png" class="person_bot_glow_mob" />
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12 visible-phone">
				<a href='/14'>
					<img src="assets/next_button_mob.png" class="next_btn_mob jungle_mos_nxt_btn_mob" />
				</a>
			</div>
		</div>
</div>