<div class="container-fluid jungle_bg">
		<div class="row-fluid">
			<div class="span12 visible-phone">
				<img src="assets/lion_mob.png" class="person_top_mob lion_mob"/>
				<img src="assets/lion_glow_mob.png" class="person_top_glow_mob lion_mob_glow" />
			</div>
			<div class="span12 cloud_lion_jungle jungle_speech_bubble5 speech_bubble_mom_mob" >
				<div class="lion_con">Welcome to my domain.</div>
			</div>
			<div class="span12 cloud_lion_jungle jungle_speech_bubble6 speech_bubble_mob">
				<div class="lion_con"></div>
			</div>
		</div>

		<div class="row-fluid persons">
			<div class="span4 hidden-phone">
				<img src="assets/lion.png" class="jungle_lion"/>
				<img src="assets/lion_glow.png" class="jungle_lion_glow" />
			</div>
			<div class="span4 hidden-phone">
				<img src="assets/jungle_bobo.png" class="jungle_bobo3"/>
				<img src="assets/jungle_bobo_glow.png" class="jungle_bobo_glow3" />
			</div>
			<div class="span2 hidden-phone">
        <a href='/15' class="jungle_next_btn3 next_q corner_btn next_btn">
          <h5>NEXT</h5>
        </a>
      </div>
		</div>

		<div class="row-fluid">
			<div class="span12 visible-phone">
				<img src="assets/bobo_jungle_mob.png" class="person_bot_mob lion_bobo" />
				<img src="assets/bobo_jungle_glow_mob.png" class="person_bot_glow_mob lion_bobo_glow" />
			</div>
		</div>
		<div class="row-fluid ">
				<div class="span2 visible-phone">
        <a href='/15' class="jungle_lion_next_btn_mob next_q  next_btn_mob">
          <h5>NEXT</h5>
        </a>
      </div>
		</div>
</div>