/* 

##### ABBREVIATIONS #####

bg = background
thumb = thumbnail

tchr = teacher
dctr = doctor
xplr = explorer
prnt = parent

*/





/* Start of General CSS Stuff (returning on all pages) */

html, body {
	background-image: url('../assets/background.png');
	font-size: 12px;
	color: #000;
}

div.container-fluid {

	max-width: 640px;/*
	max-height: 600px;*/
	min-height: 480px;
	margin: 100px auto;
	background-color: #00f;
	padding-left: 0px;
	padding-right: 0px;
}



/* Screen 6 */

#bg_image {
	background-image: url('../assets/backgrounds/background1.png');
	background-repeat: no-repeat;
	border-radius: 5px;
}

.top_menu {
	background-image: url('../assets/elements/top_menu_bg.png');
	background-repeat: no-repeat;
	height: 35px;
	margin-left: 20px;
	padding-left: 10px;
}

.top_menu_text {
	display: inline-block;
	font-size: 1.5em;
	height: 14px;
	padding-left: 14px;
	margin-top:3px;
	color: white;
	text-shadow:0px 1px #000;
	font-family: "idolwild";
}

.home_btn {
	background-image: url('../assets/buttons/home.png');
	background-repeat: no-repeat;
	height: 20px;
	width: 22px;
	float: left;
	margin-top:6px;
}

.pause_btn {
	background-image: url('../assets/buttons/pause.png');
	background-repeat: no-repeat;
	height: 20px;
	width: 22px;
	float: left;
	margin-left: 21px;
	margin-top:6px;
}

.next_btn {
	background-image: url('../assets/buttons/next_button.png');
	background-repeat: no-repeat;
	height: 41px;
	width: 104px !important;
}

.next_btn:hover {
	background-image: url('../assets/buttons/next_button_hover.png');
	background-repeat: no-repeat;
	height: 40px;
	width: 104px !important;
}

.next_btn2 {
	background-image: url('../assets/buttons/next_button.png');
	background-repeat: no-repeat;
	height: 41px;
	width: 104px !important;
}

.next_btn2:hover {
	background-image: url('../assets/buttons/next_button_hover.png');
	background-repeat: no-repeat;
	height: 40px;
	width: 104px !important;
}

.bobo_bg {
	background: url('../assets/characters/small_bobo.png') no-repeat;
	height: 150px;
	width: 241px;
	margin-top: 40px;
}

.q_box_wrapper {
	margin-bottom: 30px;
}

.q_box {
	height: 175px;
	background: url('../assets/elements/quiz_box.png') no-repeat;
	/*background: url('../assets/elements/quiz_box_right.png') ;*/
	float: left;
	width: 100%;
}


/*.q_box_left {
	background: url('../assets/elements/quiz_box_left.png') no-repeat;
	float: left;
	width: 6px;
	height: 175px;
}*/

/*.q_box_right {
	background: url('../assets/elements/quiz_box_right.png') no-repeat;
	float: left;
	width: 6px;
	height: 175px;
}*/

.q_box_top {
	padding: 5px;
}

.q_box_top p {
	font-size: 1.6em;
	color: white;
	padding-top:5px;
	float: left;
	font-family: "helsinki";
}

.q_box_top_lvl {
	background: url('../assets/elements/bg_dream_level.png') no-repeat;
	width: 85px;
	height: 28px;
	float: right;
	padding-top: 3px;
	padding-left: 8px;
	border: solid 2px;
}

.lvl_text{
	font-size: 1.6em;
	color: white;
	text-shadow:0px 1px #000;
	font-family: "idolwild";
	width: 100%;
}

.q_text {
	padding-top: 30px;
	padding-left: 10px;
}

.radio_quiz {
	margin-top: 40px;
	margin-left: 5px;
}

.radio_quiz label {
    padding:6px 6px;
    font-family:"idolwild";
    font-weight: bold;
    border-bottom: 1px solid #999;
    border-top: 1px solid white;
    height: 20px;
}

.radio_quiz input[type="radio"]:checked + label {
    background: url('../assets/buttons/active_a.png') no-repeat;
}

html, body {

	font-size: 12px;
	color: #000;
}

div.container-fluid {
	max-width: 640px;
	max-height: 480px;
	min-width: 640px;
	min-height: 480px;
	margin: auto auto;
	padding: 0px;
	background-color: #00f;
}

h1 {
	font-size: 2em;
}

p {
	font-size: 1em;
}

div.button {
	font-size: 1em;
	text-align: center;
}

/* End of General CSS Stuff (returning on all pages) */





/* Start of General CSS Stuff (returning on most pages) */

a#next {
	font-size: 1em;
	text-align: center;		/* why doesn't this work? */
}

div.content {
	margin: 10px 0px;
	padding: 10px;
	background-color: #ccc;
}

/* End of General CSS Stuff (returning on most pages) */





/* Start of Title Screen */

}

h1.title {
	text-align: center;
}

div#topmenu {
	background-color: #;
}

div#titlescreen_bg {
	background-image: url('../assets/titlescreen_bg.png');
}

/* End of Title Screen */




/* Start of Storyline Screen */

.storyleft {
	margin-left: 10px;
}

div.box_bg {
	height: 331px;
	background-image: url('../assets/box.png');
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 10px;
}

/* End of Storyline Screen */

.footer{
	max-width: 640px;
	max-height: 480px;
	min-width: 640px;
	min-height: 480px;
	color: gray;
	margin: auto;
	text-align: right;
}

/* Start of Score Screen */

div#ss-classroom_bg {
	background-image: url('../assets/ss-classroom_bg.png');
}

div.score {
	color: #fff;
	margin-top: 90px;
	margin-bottom: 226px;
}


/* End of Score Screen */