/* 

##### ABBREVIATIONS #####

bg = background
thumb = thumbnail

tchr = teacher
dctr = doctor
xplr = explorer
prnt = parent

*/


html, body {
	background: white;
	font-family: "helsinki";
	font-size: 12px;
	color: #000;
}

p {
	font-size: 1em;
}

.container-fluid {
	max-width: 640px;
	margin: 50px auto;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 129px;
	background-color: #00f;
}

h1 {
	font-size: 2em;
}

.title h2 {
	color: #fff;
	margin-left: 30px;
	line-height: 1.3em;
	font-size: 1.3em;
}

.level h2 {
	color: #fff;
	text-align: center;
	line-height: 1.3em;
	font-size: 1.3em;
}

.logo {
	margin-bottom: 40px;
}

.button {
	margin-top: 10px;
	font-size: 1em;
	text-align: center;
}


.basic-btn {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 1.6em "helsinki",Arial, Helvetica, sans-serif;
	width: 270px;
	height: 35px;
	padding-top: 12px;
	text-shadow: 0 1px 1px rgba(256,256,256,.5);
	-webkit-border-radius: .3em; 
	-moz-border-radius: .3em;
	border-radius: .3em;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.7);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.7);
	box-shadow: 0 1px 1px rgba(0,0,0,0.7);
    
    color: #1f3a00;
    font-weight: bold;
	border-top: solid 1px rgba(256,256,256,.6);
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#b0d52b), to(#579b02));
	background: -moz-linear-gradient(top,  #b0d52b,  #579b02);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.basic-btn:hover {
	text-decoration: none;
	color:#1f3a00;
    
    background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#93c21e), to(#67a509));
	background: -moz-linear-gradient(top,  #93c21e,  #67a509);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.basic-btn:active {
	position: relative;
	top: 1px;
    
}


.backbutton {
	margin-top: 110px;
	font-size: 1em;
	text-align: center;
}


#next a {
	font-size: 1em;
}

.content {
	margin: 10px 0px;
	padding: 10px;
	background-color: #ccc;
}



.title h1 {
	text-align: center;
}


#titlescreen_bg {
	background-image: url('../assets/titlescreen_bg.png');

}





/* Start of Storyline Screen */

.dialog {
	padding: 25px;
}

.storyleft h3 {
	color: #444;
	margin-left: 30px;
	line-height: 1.3em;
	font-size: 1.3em;
}

#story_bg {
	background-image: url('../assets/story_bg.png');
}

.box_bg {
	height: 331px;
	background-image: url('../assets/box.png');
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 75px;
}

.level_bg {
	background-image: url('../assets/level_bg.png');
	background-repeat: no-repeat;
	background-position: center;
}

/* End of Storyline Screen */





/* Start of Choose A Dream */

#chooseadream_bg {
	background-image: url('../assets/chooseadream_bg.png');
}

.dream {
	width: 213px;
	height: 153px;
	background-image: url('../assets/dream.png');
	text-align: center;
	padding-top: 60px;
}

/* End of Choose A Dream */





/* Start of Dream: Teacher */

#classroom_bg {
	background-image: url('../assets/classroom_bg.png');
}

/* End of Dream: Teacher */





/* Start of Score Screen */

#ss-classroom_bg {
	background-image: url('../assets/ss-classroom_bg.png');
}

.score {
	color: #fff;
	margin-top: 90px;
}

.ss-button {
	margin-top: 236px;
}

/* End of Score Screen */

@media (max-width: 980px) {

	#titlescreen_bg {
		background: url('../assets/titlebg-mb.png');
		background-size: cover;
	}
}
