@media (max-width: 768px) {
/* overall */

	html, body, .container-fluid {
		padding: 0;
		font-family: 'Bubblegum Sans', cursive;
	}

	.btn_mob {
	 	width: 100%;
	 	bottom: 0;
	 	left: 0;
	 	position: fixed;
	}

	.container-fluid{
		min-height: 100%;
		max-width: 100%;
	}

	.topmenu_bg {
	background-image: url('../assets/topmenu_bg.png');
	background-repeat: no-repeat; 
	height: 42px;
	width: 83px;
	float: left;
	top: 0%;
	left: 0%;
	position: fixed;
}

	.home_btn {
	background-image: url('../assets/home_button.png');
	background-repeat: no-repeat; 
	height: 31px;
	width: 33px;
	float: left;
	margin: 4px 0 4px 6px;
}

	.help_btn {
	background-image: url('../assets/button_help.png');
	background-repeat: no-repeat; 
	height: 31px;
	width: 33px;
	float: left;
	margin:4px;
}

	.person_top_mob, .person_top_glow_mob  {
		margin-top: 3%;
		width: 50%;
		float: right;
	}

	.person_bot_mob, .person_bot_glow_mob {
		width: 50%;
		margin-top: 2%;
		float: left;
	}

	.next_btn_mob {
		bottom: 0%;
		left: 0%;
		position: absolute;
		width: 100%;
		height: 7%;
	}

	.next_btn2 input[name="commit"] {
		display: none;
	}

	.next_btn2:hover{
		text-decoration: none;
	}

	.question {
		margin-left: 0 !important;
	}

/* page 1 intro */

	.page1_bg{
		background-image: url('../assets/bg_jungle_mob.png');
		background-size: cover;
		min-height: 100%;
		width: 100%;
		position: absolute;
		text-align: center;
	}

	.logo{
		margin-top: 3%;
		width: 67%;
	}

	.start_btn{
		width: 57%;
		margin-top: 1%;
	}

	.bobo_c{
		width: 38%;
		margin-top: 5%;
}



/* page 1 conversation mom.*/

	.page2_bg{
		background-image: url('../assets/bg_bobo_home_mob.png');
		background-size: cover;
		min-height: 100%;
		width: 100%;
		position: absolute;
		text-align: center;
	}

	.speech_bubble_mob {
		position: relative;
		padding: 7% 2% 7% 2%;
		margin-left: 4% !important;
		margin-top: 3%;
		width: 90% !important;
		background: #FFFFFF;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;
		opacity: 0.9;
	}
	.speech_bubble_mob:after {
		content: "";
		position: absolute;
		bottom: -15px;
		left: 20%;
		border-style: solid;
		border-width: 15px 15px 0;
		border-color: #FFFFFF transparent;
		display: block;
		width: 0;
		z-index: 2;
	}

/* Page 2 Bobo goes to bed */


	.bobo_bed_bg {
		background-image: url('../assets/bg_bedscreen_mob.png');
		background-size: cover;
		max-width: 960px;
		height: 100%;
		text-align: center;
	}

	.speech_bubble_bed_mob {

	}

	.bobo_bed_mob {
		width: 70%;
		margin-top: 25%;
		padding-bottom: 20%;
	}

	.next_btn_bed_mob_1, .next_btn_bed_mob {
		bottom: 0%;
		left: 0%;
		position: absolute;
		width: 100%;
		height: 7%;
	}

/*page 3 */

	.page3_bg{
		background-image: url('../assets/bg_pick_dream_mob.png');
		background-size: cover;
		min-height: 100%;
		width: 100%;
		position: absolute;
		text-align: center;
	}

	.level1_mob{
		margin-top: 15%;
		width: 90%;
	}

	.level2_mob, .level3_mob{
		margin-top: 2%;
		width: 90%;
	}

/* page 4 intro Doc */

	.page4_doc_bg {
		background-image: url('../assets/bg_hospital_mob.png');
		background-size: cover;
		min-height: 100%;
		width: 100%;
		position: absolute;
		text-align: center;
	}

		.hosp_next_btn_mob {
		bottom: 0%;
		left: 0%;
		position: absolute;
		width: 100%;
		height: 7%;
	}

	.speech_bubble_bird_mob, .speech_bubble_mom_mob {
		position: relative;
		padding: 7% 1% 7% 1%;
		margin-left: 4% !important;
		margin-top: 3%;
		width: 90% !important;
		background: #FFFFFF;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;
		opacity: 0.9;

	}

	.speech_bubble_bird_mob:before , .speech_bubble_mom_mob:before {
		content: "";
		position: absolute;
		top: -15px;
		left: 74%;
		border-style: solid;
		border-width: 0 15px 15px;
		border-color: #FFFFFF transparent;
		display: block;
		width: 0;
		z-index: 2;
	}


 /* page 5 question_doc */

 	.page5_bg {
 		background-image: url('../assets/bg_hospital_mob.png');
		background-size: cover;
		width: 100%;
		text-align: center;
 	}

	.radio-toolbar {
		margin-left: 0!important;
		text-align: left;
	}

	.radio-toolbar input[type="radio"] {
    display:none;
	}

	.radio-toolbar label {
		-moz-box-shadow: inset 0px 1px 3px rgba(230,230,230,.6);
		-webkit-box-shadow: inset 0px 1px 3px rgba(230,230,230,.6);
		box-shadow: inset 0px 1px 3px rgba(230,230,230,.6);
		color: #444;
		margin: 0!important;
	}

	.radio-toolbar input[type="radio"]:checked + label {
		-moz-box-shadow: inset 0px 0px 5px rgba(0,0,0,0.9);
		-webkit-box-shadow: inset 0px 0px 5px rgba(0,0,0,0.9);
		box-shadow: inset 0px 0px 5px rgba(0,0,0,.9);
 	  background: #a2d021; /* Old browsers */
		background: -moz-linear-gradient(top,  #a2d021 0%, #54970b 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a2d021), color-stop(100%,#54970b)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #a2d021 0%,#54970b 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #a2d021 0%,#54970b 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #a2d021 0%,#54970b 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #a2d021 0%,#54970b 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2d021', endColorstr='#54970b',GradientType=0 ); /* IE6-9 */
	}

	.next_q {
		background: #a2d021; /* Old browsers */
		background: -moz-linear-gradient(top,  #a2d021 0%, #54970b 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a2d021), color-stop(100%,#54970b)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #a2d021 0%,#54970b 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #a2d021 0%,#54970b 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #a2d021 0%,#54970b 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #a2d021 0%,#54970b 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2d021', endColorstr='#54970b',GradientType=0 ); /* IE6-9 */

		-moz-box-shadow: 0px -2px 5px rgba(230,230,230,0.9);
		-webkit-box-shadow: 0px -2px 5px rgba(230,230,230,0.8);
		box-shadow: 0px 2px 2px rgba(0,0,0,.8);

		margin-left: 0 !important;
	}

	.next_q h5 {
		margin: 7px 0 !important;
		color: white;
		text-shadow: 0px 2px #000;
		text-decoration: none;
		font-size: 20px;
	}

	.next_q a:hover, .next_q h5:hover, .next_q:hover {
		text-decoration: none;
	}

	.next_btn0:hover, .next_btn1:hover {
		text-decoration: none;
	}

	.quiz_bobo {
		width: 50%;
		margin-top: 2%;
		z-index: 1;
		position: relative;
	}

	.patient1, .patient2, .patient3 {
		width: 60%;
		margin-top: 2%;
		z-index: 1;
		position: relative;
	}

	#quiz_bg {
		background-color: white;
		margin-left: 0;
		position: fixed;
		bottom: 0%;
		z-index: 20;
	}

	.s_bubble_quiz {
		position: relative;
		width: 82%;
		padding: 1%;
		background: #FFFFFF;
		-webkit-border-radius: 7px;
		-moz-border-radius: 7px;
		border-radius: 7px;
		margin-left: 7%;
		margin-bottom: 30%;
		z-index: 10;
	}

	.s_bubble_quiz:after {
		content: "";
		position: absolute;
		top: -15px;
		left: 47.5%;
		border-style: solid;
		border-width: 0 15px 15px;
		border-color: #FFFFFF transparent;
		display: block;
		width: 0;
		z-index: 11;
	}

	.bg_change {
		padding-bottom: 35%;
		margin-top: 7%;
	}

	.goodanswer, .wronganswer {
		margin-bottom: 2%;
		margin-left: 1%;
	}

	.wronganswer h5, .goodanswer h5 {
		color: green !important;
	}
	
	.answercontent{
		border-top: 1px rgba(160, 160, 160,0.3) solid;

	}

	.answercontent label{
		padding: 1% 0.5%;
	}

/*page 6 */

	.result_bg {
		background-image: url('../assets/bg_jungle.png');
		background-size: cover;
		min-height: 100%;
		max-height: 125%;
		width: 100%;
		position: absolute;
		text-align: center;
	}

	.result_bubble {
	margin-top: 10%;
	position: relative;
	width: 85%;
	background: #FFFFFF;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	margin-left: 7%;
	z-index: 8;
	}

	.result_bubble:after {
		content: "";
		position: absolute;
		top: -15px;
		left: 45%;
		border-style: solid;
		border-width: 0 15px 15px;
		border-color: #FFFFFF transparent;
		display: block;
		width: 0;
		z-index: 1;
	}

	.result_bubble .top {
		padding-top: 20px;
	}

	.result_bubble .bottom {
		padding-bottom: 20px;
	}

	.result_bobo_bad {
		margin-top: 20%;
		width: 52%;
	}

	.result_play_again {
		background: #a2d021; /* Old browsers */
		background: -moz-linear-gradient(top,  #a2d021 0%, #54970b 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a2d021), color-stop(100%,#54970b)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #a2d021 0%,#54970b 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #a2d021 0%,#54970b 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #a2d021 0%,#54970b 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #a2d021 0%,#54970b 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2d021', endColorstr='#54970b',GradientType=0 ); /* IE6-9 */

		-moz-box-shadow: 0px -2px 5px rgba(230,230,230,0.9);
		-webkit-box-shadow: 0px -2px 5px rgba(230,230,230,0.8);
		box-shadow: 0px 2px 2px rgba(0,0,0,.8);

		margin-left: 0 !important;
		width: 100%;
		bottom: 0px;
		position: fixed;
	}

	.result_play_again h5, .result_play_again :hover {
		color: white;
		text-shadow: 0px 2px #000;
		text-decoration: none;
	}

/*page 7 and page 8*/

	.page7_bg {
		background-image: url('../assets/bg_classroom_mob.png');
		background-size: cover;
		min-height: 100%;
		max-height: 125%;
		width: 100%;
		text-align: center;
}

/* Jungle-dream: 1. screen*/

	.jungle_bg {
		background-image: url('../assets/bg_jungle.png');
		background-size: cover;
		min-height: 100%;
		width: 100%;
		position: absolute;
		text-align: center;
	}

/* Jungle-dream: 2. screen*/

	.jungle_bg_mosquito {
		background-image: url('../assets/bg_jungle.png');
		background-size: cover;
		min-height: 100%;
		width: 100%;
		position: absolute;
		text-align: center;
	}


/* Result Page */


	.result_bubble_mob {
		margin-top: 10%;
		position: relative;
		width: 85%;
		background: #FFFFFF;
		-webkit-border-radius: 7px;
		-moz-border-radius: 7px;
		border-radius: 7px;
		margin-left: 7%;
		z-index: 8;
	}

	.result_bubble_mob:after {
		content: "";
		position: absolute;
		top: -15px;
		left: 45%;
		border-style: solid;
		border-width: 0 15px 15px;
		border-color: #FFFFFF transparent;
		display: block;
		width: 0;
		z-index: 1;
	}

	.result_bubble_mob .top {
		padding-top: 20px;
	}

	.result_bubble_mob .bottom {
		padding-bottom: 20px;
	}

	.result_bobo_bad_mob {
		margin-top: 5%;
		width: 52%;
	}

}


