<div class="container-fluid page3_bg">
  <div class="row-fluid">
    <div class="span12 padding_top">
      <div class="row-fluid visible-phone">
          
        <% if session[:dream1] %>
          <img src="assets/level1_finished_mob.png" class="level1_mob" />
        <% else %>
          <a href="/4">
            <img src="assets/level1_mob.png" class="level1_mob" />
          </a>
        <% end %> 
        
        <% if session[:dream2] %>
          <img src="assets/level2_finished_mob.png" class="level2_mob" />
        <% else %>
          <a href="/7">
            <img src="assets/level2_mob.png" class="level2_mob" />
          </a>
        <% end %> 

        <% if session[:dream3] %>
          <img src="assets/level3_finished_mob.png" class="level3_mob" />
        <% else %>
          <a href="#">
            <img src="assets/level3_finished_mob.png" class="level3_mob" />
          </a>
        <% end %> 

      </div>

      <div class="row-fluid hidden-phone dreams">
        <% if session[:dream1] %>
          <img src="assets/level1_finished.png" class="level1" />
        <a href="/7">
          <img src="assets/level2.png" class="level2" />
        </a>
          <img src="assets/level3_locked.png" class="level3" />
         
          <% else if session[:dream2] %>
            <img src="assets/level1_finished.png" class="level1" />
            <img src="assets/level2_finished.png" class="level2" />
          <a href="/10">          
            <img src="assets/level3.png" class="level3" />
          </a>
        
        <% else %>
        <a href="/4">
          <img src="assets/level1.png" class="level1" />
        </a>
          <img src="assets/level2_locked.png" class="level2" />
          <img src="assets/level3_locked.png" class="level3" />
          <% end %>
        <% end %>
        </a>
      </div>
    </div>
    <div class="span12 picture"></div>
  </div>
</div>