<div class="container-fluid page3_bg">
  <div class="row-fluid">
    <div class="span12 padding_top">
      <div class="row-fluid visible-phone">
          
        <% if session[:dream1] %>
          <img src="assets/level1_finished_mob.png" class="level1_mob" />
        <a href="/7">
          <img src="assets/level2_mob.png" class="level2_mob" />
        </a>
          <img src="assets/level3_locked_mob.png" class="level3_mob" />
         
        <% elsif session[:dream2] %>
          <img src="assets/level1_finished_mob.png" class="level1_mob" />
          <img src="assets/level2_finished_mob.png" class="level2_mob" />
        <a href="/12">          
          <img src="assets/level3_mob.png" class="level3_mob" />
        </a>
        
        <% else %>
        <a href="/4">
          <img src="assets/level1_mob.png" class="level1_mob" />
        </a>
          <img src="assets/level2_locked_mob.png" class="level2_mob" />
          <img src="assets/level3_locked_mob.png" class="level3_mob" />
          <% end %>

      </div>

      <div class="row-fluid hidden-phone dreams">

        <% if session[:dream1] %>
        <a href="#" class="level1 level1_finished">Button</a>
        <a href="/7" class="level2" id="level2">Button</a>
        <a href="#" class="level3 level3_locked">Button</a>
         
        <% elsif session[:dream2] %>
        <a href="#" class="level1 level1_finished">Button</a>
        <a href="#" class="level2 level2_finished">Button</a>
        <a href="/12" class="level3" id="level3">Button</a>

        <% elsif session[:dream3] %>
        <a href="#" class="level1 level1_finished">Button</a>
        <a href="#" class="level2 level2_finished">Button</a> 
        <a href="#" class="level3 level3_finished">Button</a> 
        
        <% else %>
        <a href="/4" class="level1" id="level1">Button</a>
        <a href="#" class="level2 level2_locked">Button</a>
        <a href="#" class="level3 level3_locked">Button</a>
        <% end %>

      </div>
    </div>
    <div class="span12 picture"></div>
  </div>
</div>