<div class="container-fluid page3_bg">
  <div class="row-fluid">
    <div class="span12 padding_top">
      <div class="row-fluid visible-phone">
          
        <% if session[:dream1] %>
          <img src="assets/level1_finished_mob.png" class="level1_mob" />
        <a href="/7">
          <img src="assets/level2_mob.png" class="level2_mob level2_mob_hover" />
        </a>
          <img src="assets/level3_locked_mob.png" class="level3_mob" />
         
        <% elsif session[:dream2] %>
          <img src="assets/level1_finished_mob.png" class="level1_mob" />
          <img src="assets/level2_finished_mob.png" class="level2_mob" />
        <a href="/12">          
          <img src="assets/level3_mob.png" class="level3_mob level3_mob_hover" />
        </a>
        
        <% else %>
        <a href="/4">
          <img src="assets/level1_mob.png" class="level1_mob level1_mob_hover" />
        </a>
          <img src="assets/level2_locked_mob.png" class="level2_mob" />
          <img src="assets/level3_locked_mob.png" class="level3_mob" />
          <% end %>

      </div>

      <div class="row-fluid hidden-phone dreams">
        <% if session[:dream1] %>
          <img src="assets/level1_finished.png" class="level1" />
        <a href="/7">
          <img src="assets/level2.png" class="level2 level2_hover" />
        </a>
          <img src="assets/level3_locked.png" class="level3" />
         
        <% elsif session[:dream2] %>
          <img src="assets/level1_finished.png" class="level1" />
          <img src="assets/level2_finished.png" class="level2" />
        <a href="/12">          
          <img src="assets/level3.png" class="level3 level3_hover" />
        </a>

        <% elsif session[:dream3] %>
          
        
        <% else %>
        <a href="/4">
          <img src="assets/level1.png" class="level1 level1_hover" />
        </a>
          <img src="assets/level2_locked.png" class="level2" />
          <img src="assets/level3_locked.png" class="level3" />
        <% end %>
        </a>
      </div>
    </div>
    <div class="span12 picture"></div>
  </div>
</div>