<div class="container-fluid page3_bg">
    <div class="row-fluid">
      <div class="span12 topmenu_bg">
        <div class="">
          <a href="/" class="home_btn"></a>
        </div>
          <div class="">
            <a href="#" class="help_btn"></a>
          </div>
      </div>
    </div>

  <div class="row-fluid">
    <div class="span12">
      <div class="row-fluid visible-phone">
          
        <% if session[:dream1] %>
          <img src="assets/level1_finished_mob.png" class="level1_mob" />
        <% else %>
          <a href="/4">
            <img src="assets/level1_mob.png" class="level1_mob" />
          </a>
        <% end %> 
        
        <% if session[:dream2] %>
          <img src="assets/level2_finished_mob.png" class="level2_mob" />
        <% else %>
          <a href="/7">
            <img src="assets/level2_mob.png" class="level2_mob" />
          </a>
        <% end %> 

        <% if session[:dream3] %>
          <img src="assets/level3_finished_mob.png" class="level3_mob" />
        <% else %>
          <a href="#">
            <img src="assets/level3_finished_mob.png" class="level3_mob" />
          </a>
        <% end %> 

      </div>

      <div class="row-fluid hidden-phone">
        <a href="/4">
        <% if session[:dream1] %>
          <img src="assets/level1_finished.png" class="level1" />
        <% else %>
          <img src="assets/level1.png" class="level1" />
        <% end %> 
        </a>
        <a href="/7">
        <% if session[:dream2] %>
          <img src="assets/level2_finished.png" class="level2" />
        <% else %>
          <img src="assets/level2.png" class="level2" />
        <% end %> 
        </a>
        <a href="#">
        <% if session[:dream3] %>
          <img src="assets/level3_finished.png" class="level3" />
        <% else %>
          <img src="assets/level3_finished.png" class="level3" />
        <% end %> 
        </a>
      </div>
    </div>
    <div class="span12 picture"></div>
  </div>
</div>