<div class="container-fluid bobo_bed_bg">
		<div class="row-fluid">
			<div class="span12 visible-phone">
				<div class="speech_bubble_bed_mob">
				</div>
			</div>
			<div class="span12 speech_bubble_bed hidden-phone">
				<div class="first">Mom is right. I better go to bed.</div>
			</div>

		</div>

		<div class="row-fluid persons">
			<div class="span10 speech_bubble_bed offset1 visible-phone">
				<div class="first">Mom is right. I better go to bed.
				</div>
			</div>
			<div class="span4 hidden-phone">
				<img src="assets/bobo.png" class="bobo_bed" style="display:none;"/>
				<img src="assets/bobo_glow.png" class="bobo_bed_glow" />
			</div>
			<div class="span3 hidden-phone">
				<a href='#'>
					<img src="assets/next_button.png" class="next_btn_bed" />
				</a>
				<a href='/3'>
					<img src="assets/next_button.png" class="next_btn_bed_1" />
				</a>
			</div>
		</div>

		<div class="row-fluid">
			<div class="span12 visible-phone">
				<img src="assets/intro_bobo_mob.png" class="bobo_bed_mob" />
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12 visible-phone">
				<a href='#'>
					<img src="assets/next_button_mob.png" class="next_btn_bed_mob" />
				</a>
				<a href='/3'>
					<img src="assets/next_button_mob.png" class="next_btn_bed_mob_1" />
				</a>
			</div>
		</div>
</div>